
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<h2>Select</h2>

@Html.ActionLink("Sign up as a retailer", "Retailer")
<br/>
@Html.ActionLink("Sign up as a supplier", "Supplier")


