@model Spar.Retail.UI.Models.ViewModels.Retailer.Orders.ProductsOrderViewModel
@{
    ViewBag.Title = "Order Products";
    Layout = "~/Views/Shared/_RetailerDefault.cshtml";
}

<h2>Order Products</h2>

