@using System.Activities.Statements
@{
    ViewBag.Title = "Browse Suppliers";
    Layout = "~/Views/Shared/_RetailerDefault.cshtml";
}

@Html.Action("AllSuppliersOrder", "RetailerCommon")
<div style="clear:both">&nbsp;</div>
<div id="results">

</div>


<script>

    $(document).ready(function () {
        $('[data-buttontype="btnCreateOrder"]').click(
            function () {
                debugger;
                LoadOrderBaskets($(this).data('supplierid'));
            }
        );
    });


    function LoadOrderBaskets(supplierid) {
        $.ajax({
            url: '/BrowseSuppliers/LoadOrderBasketOptions',
            type: 'POST',
            data: JSON.stringify({
                supplierId: supplierid
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#results').html(data);
            },
            error: function () {
                alert("error");
            }
        });

    }


    function CreateOrder(supplierid) {

        debugger;
        $.ajax({
            url: '/RetailerCommon/AllProductsOrder',
            type: 'POST',
            data: JSON.stringify({
                supplierId: supplierid
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#results').html(data);
                $('#dvMySuppliers').slideUp();
            },
            error: function () {
                alert("error");
            }
        });
    };
</script>