@{
    ViewBag.Title = "Open Orders";
    Layout = "~/Views/Shared/_RetailerDefault.cshtml";
}
<div class="well well-sm with-header">
    <div class="header bordered-azure"><i class="menu-icon glyphicon glyphicon-shopping-cart"></i>&nbsp;Select Order</div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover table-condensed" id="tblProduct">
                <thead class="flip-content bordered-palegreen">
                    <tr>
                        <th>
                            Order Id
                        </th>
                        <th>
                            Supplier Name
                        </th>
                        <th>
                            Supplier Code
                        </th>
                        <th>
                            User Id
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section PageScripts{
    <script>
        $(document).ready(function () {

            $('#tblProduct').dataTable({
                "processing": true,
                "serverSide": true,
                "sDom": "Tfltr<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                "language": {
                    "search": "",
                    "sLengthMenu": "_MENU_",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    },
                    "infoFiltered": ""
                },
                "pageLength": 15,
                "ajax": {
                    "type": "POST",
                    "url": "@Url.Action("OpenOrdersDataTableAjax", "OpenOrder")",
                    "complete": function () {
                        SetUpTabNavigation();
                    }
                },
                "columns": [
                    {
                        "data": "OrderBasketId",
                        "defaultContent": " "
                    },
                    {
                        "data": "SupplierName",
                        "defaultContent": " "
                    },
                    {
                        "data": "SupplierCode",
                        "defaultContent": " "
                    },
                    {
                        "data": "UserId",
                        "defaultContent": " "
                    },
                    {
                        "data": "CreatedOn",
                        "type": "date",
                        "dateFormat": "yy-mm-dd",
                        "defaultContent": " "
                    },
                    { "data": "OrderBasketStatus" },
                    {
                        "targets": -1,
                        "data": "OrderBasketId",
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<button data-function="addProduct" class="btn btn-xs btn-azure" onclick="location.href= \'/OpenOrder/AddProducts/?orderId=' + data + '\'"><i class="menu-icon glyphicon glyphicon-shopping-cart"></i>&nbsp;Add Products</button></a>&nbsp;&nbsp;' +
                                '<button class="btn btn-xs btn-palegreen" data-function="viewOrder" onclick="location.href= \'/OpenOrder/OrderDetail?OpenOrderId=' + data + '\'"><i class="menu-icon glyphicon glyphicon-list-alt"></i>&nbsp;Details</button>';
                        }
                    }
                ]
            });

        });


        function SetUpTabNavigation() {


            var addButtons = $('[data-function="addProduct"]');
            var searchButton = $('#tblProduct_filter input[type="search"]');
            var viewOrderButtons = $('[data-function="viewOrder"]');

            searchButton.focus();

            viewOrderButtons.last().keydown(function (e) {
                var TABKEY = 9;
                if (e.keyCode === TABKEY) {
                    searchButton.focus();
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    return false;
                };
            });

            searchButton.keydown(function (e) {
                var TABKEY = 9;
                if (e.keyCode === TABKEY) {
                    addButtons.first().focus();
                    if (e.preventDefault) {
                        e.preventDefault();
                    }
                    return false;
                };
            });

        };
    </script>
}
